<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/show.css">
    <title>Meditation</title>
</head>
<body>
    <div id="show-page">
            <nav>
                <a href="/meditations" class="close" tabindex="0" role="button">close</a>
            </nav>
    <div id="show-container">
     <form action="/meditations/<%=meditation.id%>?_method=DELETE" method="POST">
         <h1 id="show-header"><%=meditation.name %></h1>
         <h5><%=meditation.description %> <br><br>
        Duration: <%=meditation.duration %> min <br></h5>
        <img src="<%= meditation.img %>"></a><br>
        <a href="/meditations/<%=meditation.id %>/edit">Edit</a> <br><br><br>
        <input type="submit" value="Delete">
    </form>
    </div>
</div>
</body>
</html>